<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://palladiosimulator.org/Reliability/FiniteMarkovChain/1.0" 
       class = "org.palladiosimulator.reliability.markov.MarkovPackage"
       genModel = "model/markov.genmodel" /> 
  </extension>

null
</plugin>
