<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.palladiosimulator.reliability.simucom.workflow_extension"
         name="SimuCom Reliability Extension"
         point="de.uka.ipd.sdq.workflow.job">
      <workflow_job
            extension_configurationbuilder="org.palladiosimulator.reliability.simucom.jobs.ReliabilityExtensionConfigurationBuilder"
            extension_job="org.palladiosimulator.reliability.simucom.jobs.ReliabilityExtensionJob"
            workflow_id="workflow.extension.simucom.before.codegeneration">
      </workflow_job>
   </extension>
   <extension
         name="name"
         point="de.uka.ipd.sdq.workflow.tab.extension">
      <workflow_extension
            name="org.palladiosimulator.reliability.simucom.workflow_extension1"
            runconfig_tab="org.palladiosimulator.reliability.simucom.jobs.ReliabilityExtensionTab"
            workflow_id="workflow.extension.simucom.before.codegeneration">
      </workflow_extension>
   </extension>

</plugin>
